<article id="admin" style="display: none" class="card p-3">
  <header>
    <img id="logo-img-admin" src="./assets/images/convention-logo.png" class="card-img-top">
  </header>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col" id="admin-table-container">
        <table class="table table-striped table-borderless mt-3">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Allow</th>
              <th scope="col">Disallow</th>
            </tr>
          </thead>
          <tbody id="admin-users">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>