<article id="auth" style="display: none" class="card p-3">
  <header>
    <img id="logo-img" src="./assets/images/convention-logo.png" class="card-img-top">
  </header>

  {{> login}}
  {{> email-verification}}
  {{> display-name}}

  <div id="error-msg" class="alert alert-danger mt-4">
    An error ocurred.
  </div>
</article>