<section id="display-name" style="display: none">
  <header>
    <h1 class="card-title mt-4">Your name</h1>
  </header>

  <div class="card-body">
    <form id="display-name-form">
      <div class="form-group text-left">
        <label for="display-name-input">Nick name</label>
        <input type="text" class="form-control text-uppercase" name="name" id="display-name-input" required
          maxlength="8">
      </div>

      <button id="display-name-sign-out-button" type="button" class="btn btn-danger">Sign out</button>
      <button id="display-name-button" type="submit" class="btn btn-primary">Save name</button>
    </form>
  </div>
</section>