<section id="forbidden" style="display: none">
  <header>
    <h1 class="card-title mt-4">Forbidden</h1>
  </header>

  <div class="card-body">
    <p class="card-text text-danger"><b>You are not allowed to access.</b></p>
  </div>
</section>