<section id="login" style="display: none">
  <div class="card-body">
    <div class="container-fluid">
      {{> login-toc}}
      {{> login-email}}
      {{> login-link}}
      {{> login-signup}}
    </div>
  </div>
</section>