<div id="login-email-section" class="row">
  <div class="col-12">
    <h4 class="card-subtitle mb-3 text-muted">Login using your email</h4>
    <form id="login-email-form">
      <div class="form-group text-left">
        <label for="login-email-input">Email address</label>
        <input type="email" class="form-control" name="email" id="login-email-input" placeholder="Enter email" required>
      </div>

      <div class="form-group text-left">
        <label for="login-password">Password</label>
        <input type="password" class="form-control" name="password" id="login-password" placeholder="Password" required
          minlength="6">
      </div>

      <button id="login-email-back-button" class="btn" type="button">Back</button>
      <button id="login-email-button" class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>