<div id="get-link-section" class="row">
  <div class="col-12">
    <h4 class="card-subtitle mb-3 text-muted">Access without account by getting a link in your email</h4>
    <form id="get-link-form">
      <div class="form-group text-left">
        <label for="get-link-input">Email address</label>
        <input type="email" class="form-control" name="email" id="get-link-input" placeholder="Enter email" required>
      </div>

      <button id="get-link-back-button" class="btn btn-light" type="button">Back</button>
      <button id="get-link-button" class="btn btn-primary" type="submit">Send link</button>
    </form>
    <div id="get-link-success-msg" class="alert alert-success mt-4">
      Email successfully sent. Check your email and follow instructions.
    </div>
  </div>
</div>