<div id="pwa-install-ios" class="pwa-install-ios" role="alert" hidden>
  <p>
    <img src="assets/images/favicon.png" class="pwa-icon">
    Install this game in your device: tap
    <img src="assets/images/share.png" class="ios-button">
    Share and
    <img src="assets/images/home_screen.png" class="ios-button">
    Add to Home screen.
  </p>
</div>