<!DOCTYPE html>
<html lang="en" class="m-0 p-0 h-100">

<head>
  <meta charset="utf-8">
  <title>Caleb & Sophia Game</title>

  {{#if htmlWebpackPlugin.options.isProduction}}
  <!-- Google Tag Manager DNS preconnect -->
  <link href="https://www.googletagmanager.com" rel="preconnect" crossorigin />
  <link href="https://www.google-analytics.com" rel="preconnect" crossorigin />

  <!-- Workbox DNS preconnect -->
  <link href="https://storage.googleapis.com" rel="preconnect" crossorigin />
  {{/if}}

  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{#if htmlWebpackPlugin.options.isProduction}}
  <!-- Generated favicons -->
  {{>../dist/favicons.html}}

  <!-- Google Tag Manager -->
  <script>
    if (location.host.match(/.*\.github.io/)) {
      (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-56JKFTL');
    }
  </script>

  <!-- Service Worker -->
  <script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  {{/if}}
</head>

<body class="m-0 p-0 h-100 bg-dark text-center">
  <div id="loading-indicator"></div>

  {{> game}}
  {{> auth}}
  {{> admin}}
</body>

</html>