<!DOCTYPE html>
<html lang="en" class="m-0 p-0 h-100">

<head>
  <meta charset="utf-8">
  <title>Caleb & Sophia Game</title>

  {{#if htmlWebpackPlugin.options.isProduction}}
  <!-- Google Tag Manager DNS preconnect -->
  <link href="https://www.googletagmanager.com" rel="preconnect" crossorigin />
  <link href="https://www.google-analytics.com" rel="preconnect" crossorigin />

  <!-- Workbox DNS preconnect -->
  <link href="https://storage.googleapis.com" rel="preconnect" crossorigin />
  {{/if}}

  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{#if htmlWebpackPlugin.options.isProduction}}
  <!-- Generated favicons -->
  {{>../dist/favicons.html}}

  <!-- Google Tag Manager -->
  {{> gtm}}

  <!-- Service Worker -->
  {{> service-worker}}
  {{/if}}

  <!-- Catch IE errors -->
  {{> ie-notification}}
</head>

<body class="m-0 p-0 h-100 bg-dark text-center">
  <div id="loading-indicator"></div>
  <div id="error-ie" style="display: none" class="alert alert-warning m-4 w-100" role="alert">
    This app doesn't work correctly in IE/Edge.
  </div>

  {{> game}}
  {{> auth}}
  {{> admin}}
</body>

</html>