/* Full screen in safari */
/* https://dev.to/marvindanig/fullscreen-web-apps-on-ipad-safari--3p9b */

:-webkit-full-screen,
:-moz-full-screen,
:-ms-fullscreen,
:full-screen,
:fullscreen {
  body {
    /* properties */
    width: 100vw;
    height: 100vh;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* styling the backdrop*/

::backdrop,
::-ms-backdrop {
  /* Custom styles */
}
