/* Full screen in safari */
/* https://dev.to/marvindanig/fullscreen-web-apps-on-ipad-safari--3p9b */

:-webkit-full-screen {
  width: 100vw !important;
  height: 100vh !important;
}

:-moz-full-screen {
  width: 100vw !important;
  height: 100vh !important;
}

:-ms-fullscreen {
  width: 100vw !important;
  height: 100vh !important;
}

:full-screen {
  width: 100vw !important;
  height: 100vh !important;
}

:fullscreen {
  width: 100vw !important;
  height: 100vh !important;
}

::-webkit-scrollbar {
  display: none;
}

/* styling the backdrop*/

::backdrop,
::-ms-backdrop {
  /* Custom styles */
}
