.btn-icon {
  position: relative;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  top: 3px;
  margin-right: 3px;
}

.icon-google {
  background: transparent url('assets/icons/icon-google.svg') no-repeat scroll center;
}

.icon-outlook {
  background: transparent url('assets/icons/icon-outlook.svg') no-repeat scroll center;
}

.icon-account {
  background: transparent url('assets/icons/icon-account.svg') no-repeat scroll center;
}

.icon-link {
  background: transparent url('assets/icons/icon-link.svg') no-repeat scroll center;
}
